.App{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    flex-direction: column;
}
.gamboard{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    font-size: 100px;
    color: red;
}
.cross{
    font-size: 100px;
    color: blue;
}
.cir{
    color: red;

}
.cro{
    color: blue;
}